# Ignore virtual environment files
.env

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folder
venv/

# Ignore editor configuration files (optional)
.idea/
.vscode/

# Ignore installed dependencies in Python
*.egg-info/